/** Add css rules here for your application. */

* {
	margin: 0px;
	padding: 0px;
}

.x-form-empty-field {
	color: #aaa;	
}

.x-item-disabled input {
        color: #333 !important;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	margin-left: -45px;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading .loading-indicator img {
	margin-right:8px;
	float:left;
	vertical-align:top;
}

#loading-msg {
	font: normal 10px;
}

#header-area {
	background: #555753;
	border: 0pt none;
	color: white;
	font-size: 16px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 32px;
	padding: 0;
	height: 32px;
}

#header-area-toolbar {
	height: 26px;
	padding: 6px 0 0 0;
}

#header-area-toolbar .x-btn *,
.search-button .x-btn * {
	font-weight: bold;
	white-space: nowrap;
	border: 0;
	color: white;
	background: transparent;
}

#header-area-toolbar table table,
.search-button table table {
	padding: 0 4px;	
}

#header-area-toolbar table td .x-btn-center,
.search-button table td .x-btn-center {
	padding: 0 4px;	
}

#header-area-toolbar button,
.search-button button {
	color: white;
}

#header-area-toolbar .x-btn-over button {
	background-image: none;
	color: #b8cfee;
}

.search-button .x-btn-over button {
	background-image: none;
	color: #555753;
}

#header-area-left {
	height: 32px;
	line-height: 32px;
	float: left;
	padding: 0 12px;
	color: white;
}

#header-area-right {
	float: right;
	text-align: right;
	font-size: 11px;
}

.search-area-advanced .x-panel-bwrap,
.user-area,
.results-area .x-panel-body,
.detail-area .x-panel-body {
	background: #f1f1f1 !important;
	/* background: #b8cfee; */
}

.twitter-area .x-panel-body {
	padding: 4px;
	color: #2e3436;
}

.wait .x-panel-body {
	background: #b8cfee url(images/wait_blue.gif) no-repeat center center !important;	
}

#search-area form {
	padding: 8px;
}

.icon-user {
	background: url(images/icons/user.png) no-repeat center left !important;
}

.icon-book {
	background: url(images/icons/book_open.png) no-repeat center left !important;
}

.icon-printer {
	background: url(images/icons/printer.png) no-repeat center left !important;
}

.icon-import {
	background: url(images/icons/folder_table.png) no-repeat center left !important;
}

.icon-plugin {
  background: url(images/icons/brick.png) no-repeat center left !important;
}

.icon-table-update {
  background: url(images/icons/table_refresh.png) no-repeat center left !important;
}

.icon-table-insert {
  background: url(images/icons/table_add.png) no-repeat center left !important;
}

.icon-export {
	background: url(images/icons/disk.png) no-repeat center left !important;
}

.icon-add {
	background: url(images/icons/add.png) no-repeat center left !important;
}

.icon-add-disabled {
	background: url(images/icons/addDisabled.png) no-repeat center left !important;
}

.icon-delete {
	background: url(images/icons/delete.png) no-repeat center left !important;
}

.icon-delete-disabled {
	background: url(images/icons/deleteDisabled.png) no-repeat center left !important;
}

.icon-search {
  background: url(images/icons/magnifier.png) no-repeat center left !important;
}

.icon-chart,
.icon-chart-pie {
	background: url(images/icons/chart_pie.png) no-repeat center left !important;
}

.icon-chart-bar {
	background: url(images/icons/chart_bar.png) no-repeat center left !important;
}

.icon-formula {
	background: url(images/icons/sum.png) no-repeat center left !important;
}

.icon-summary {
	background: url(images/icons/sitemap_color.png) no-repeat center left !important;
}

.icon-table-show-all,
.icon-grid {
	background: url(images/icons/table.png) no-repeat center left !important;
}

.icon-table-preference {
	background: url(images/icons/table_edit.png) no-repeat center left !important;
}

.icon-table-user {
	background: url(images/icons/table_user.png) no-repeat center left !important;
}

.icon-table-save,
.icon-table-save-view {
	background: url(images/icons/table_save.png) no-repeat center left !important;
}

.icon-upload-file {
	background: url(images/icons/folder_page.png) no-repeat center left !important;
}
.icon-button-google {
	height: 75px;
	width:	28px;
	background: url(images/GoogleMaps.gif) no-repeat center left !important;
}

#cross td {
	width: 240px;
	vertical-align: middle;
}

.pattern table tr td {
	display: inline;
	float: left !important;
	padding-bottom: 2px;
}

.alert-browser-message {
	text-align: center;
	font-size: 16px;
}

.search-box {
	background: #b8cfee;
	height: 42px;
	padding: 4px;
}

.search-text, .search-button {
	float: left;
	padding: 0 2px;
}

.search-text input.x-form-field,
.search-button .x-btn-text {
	font-size: 170%;
	/* //font-size: 160%; */
	font-weight: bold;
}

.search-text input.x-form-field {
	//padding-top: 0px;
	line-height: 28px; 
	height: 30px !important;
}

.search-button .x-btn-text {
	line-height: 22px; 
	height: 24px !important;
}

.detail-area .x-form-item {
	display: inline;
	float: left;
	/* width: 250px; */
	/* border: 1px solid #eeeeec; */
}



.gwt-Label {
	/* background-color: green; */
	margin :0px 6px 6px;
	border: 2px;
	padding: 3px; 
}

.mainNavAndOthersSplitPanel .gwt-SplitLayoutPanel-HDragger {
	background:gray;
	cursor:col-resize;
}
		
.mainNavAndOthersSplitPanel .gwt-SplitLayoutPanel-VDragger{
		background:gray;
		cursor:col-resize;
}

.gridAndDetailSplitPanel .gwt-SplitLayoutPanel-HDragger {
	background:gray;
	cursor:col-resize;
}
		
.gridAndDetailSplitPanel .gwt-SplitLayoutPanel-VDragger{
		background:gray;
		cursor:col-resize;
}

/*
.gwt-SplitLayoutPanel-HDragger  {
	background:url("images/splitPanelThumb.png") no-repeat scroll center center #D0E4F6;
	cursor:col-resize;
}

*/

.mainResultSet tr, td{
	height: 20px;
}

/*
table {
	width: 400px; 
	height: 150px;
}

tr {
	margin : 0px;
	height: 10px;
}

td{
	margin : 0px;
	border: 1px;
	border-color: black;
	border-style: solid;
	height: 10px;
}
*/

.MultiResGui {
	background-color: graytext;
	margin 30px;
	padding: 20px;
}

.selectedButton {
	background-color: graytext;
}

.unselectedButton {
	
}

.dummyGrid tr {
		height: 10px;
	}

.dummyGrid td {	
	border:  0px;
	margin: 0px;
	width: 50px;
	padding : 2px;
	border: 1px;
	border-color: black;
	border-style: solid;
	text-align: right;
	/*
	border: 1px solid black;
	margin: 0px; 
	height: 5px; 
	background-color: #dddddd;
	width: 100px;
	*/
}



.mainNavAndDetail, .navAndDetail table {
	border: 0px;
	cellspacing: 0;
	width: 200px;
	margin :0px 6px 6px;
	height: 5px; 
	background-color: #dddddd;
}

.mainNavAndDetail, .navAndDetail td {	
	border:  0px;
	margin: 0px;
	/*
	border: 1px solid black;
	margin: 0px; 
	height: 5px; 
	background-color: #dddddd;
	width: 100px;
	*/
}

.mainNavAndDetail tr {
	border:  0px;
	margin: 0px;
	
	/*
	background-color: #dddddd;
	margin: 0px; 
	*/  
}

.mainArea, .mainResultSet, .mainNavAndOthersSplitPanel, .mainGridAndDetailSplitPanel, .mainMultiRsToolbar{
	background-color: #dddddd;
}


