body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	margin: 1em;
}

a {
	color: rgb(0, 0, 204);
}

ul {
	padding: .2em 1em;
}

ul li {
	font-weight: bold;
	margin: 0.5em 0px 0px 1.5em;
}

ul li li {
	font-weight: normal;
	margin: 0.1em 0px 0px 1em;
}

hr {
	border: 0;
}

h1 {
	font-size: 150%;
	background-color: rgb(229, 236, 249);
	border-top: 1px solid rgb(51, 102, 204);
	padding: .2em;
}

h2 {
	font-size: 130%;
}

h3, h4 {
	font-size: 100%;
}

code {
	font-size: medium;
}

pre {
	color: rgb(0, 112, 0);
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(187, 187, 187);
	padding: .6em;
	font-size: medium;
	line-height: 125%;
	overflow: auto auto;
}